*.log
*.mpack
.vscode
*.o*
__*
playground/
convergence_plots/
old_logs/
old_configs/
archive/
figures/
ressurection/
logs/
out.txt
out*.txt
'out-models_table.txt'
out_models_table.txt
out-models_table.txt
IDs.md
stroj.txt
note*.md
TODOs.md